twitter-bot/template.json
{
  "meta": {
    "instanceId": "126c831d8695e3d72a11b30e678b331ffe88fde699f054f497c589fede0468d2"
  },
  "name": "Helm Analytics - Advanced Campaign (Images, OSS, X Search)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "82fc0fb0-b73e-4215-87f6-e32b17802ca2",
      "name": "Every 4.8 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -2736,
        800
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "options": {
          "topP": 0.8
        }
      },
      "id": "c251ba7f-81bf-4dfc-af23-e6254bf9ad68",
      "name": "Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        -2544,
        992
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "MApsqVZfj70Mvodd",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Generate exactly 5 highly engaging marketing posts for Twitter/X.\n\n### EXHAUSTIVE CONTEXT:\n{\n  \"product_name\": \"Helm Analytics\",\n  \"formerly_known_as\": \"Sentinel\",\n  \"product_website\": \"https://helm-analytics.com\",\n  \"core_value_proposition\": \"A privacy-first, ultra-fast website intelligence and security platform. We don't just provide analytics; we provide *Traffic Quality* insights to help businesses stop ad-fraud, block bots, and see exactly how real humans interact with their sites.\",\n  \"key_features_and_differentiators\": {\n    \"traffic_quality_score\": \"Our signature 0-100 KPI. instantly detects health of website traffic by identifying bot attacks, data center noise.\",\n    \"sentinel_firewall\": \"Built-in security layer allowing 1-click active blocking of malicious traffic (ASNs, countries, CIDR ranges).\",\n    \"session_replay\": \"Zero-latency user session recording. Clients watch mouse movements, clicks, and scrolls to identify UI friction.\",\n    \"cookieless_privacy\": \"100% GDPR, CCPA, and HIPAA compliant out of the box. No invasive cookies.\",\n    \"clickhouse_performance\": \"Backend powered by ClickHouse, enabling lightning-fast, sub-second ingestion of millions of events.\",\n    \"conversion_funnels\": \"Deep multi-step user journey tracking without needing complex tag managers.\"\n  },\n  \"target_audience_pain_points\": [\n    \"Marketers wasting Google Ads budget on bot clicks and invisible data-center scrapers.\",\n    \"Founders needing to understand exactly why users aren't converting on pricing page.\",\n    \"Developers frustrated by slow, bloated analytics trackers.\"\n  ],\n  \"brand_voice\": \"Informative, technical but highly accessible, bold, empathetic to developer pain points, slightly playful.\"\n}\n\n### REQUIREMENTS:\n5 distinct posts spanning:\n1. EDUCATION (e.g. GA4 vs Cookieless)\n2. FEATURE (e.g. Traffic Quality Score)\n3. PROMOTION (Helm Cloud or OSS)\n4. ENGAGEMENT (Poll/Question)\n5. VALUE (Data sovereignty)\n\n### IMAGE LOGIC:\nFor each post, decide if an AI-generated image would enhance it (set `needs_image` to true for max 2 posts). If true, provide a highly descriptive `image_prompt`.\n\nFormat:\nReturn ONLY a valid JSON array of objects with keys: `text`, `needs_image` (boolean), `image_prompt` (string).",
        "batching": {}
      },
      "id": "8cbb3d25-112a-40ce-82d1-b7ca77dbf837",
      "name": "Generate Posts",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        -2544,
        800
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "functionCode": "let output = items[0].json.text;\noutput = output.replace(/```json\\s*|\\s*```/g, '').trim();\nconst posts = JSON.parse(output);\nreturn posts.map(p => ({ json: p }));"
      },
      "id": "8bab5e98-1005-48fe-8fa2-5102687177ca",
      "name": "Parse JSON",
      "type": "n8n-nodes-base.function",
      "position": [
        -2176,
        800
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e9b382cd-238d-4a3c-b393-c25c7f64c25c",
      "name": "Loop Over Posts",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -1904,
        800
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "minutes"
      },
      "id": "8c205f15-ba2d-47a6-bc05-f2ff91a85728",
      "name": "Wait (Spacing)",
      "type": "n8n-nodes-base.wait",
      "position": [
        -1648,
        800
      ],
      "typeVersion": 1,
      "webhookId": "940cbbaf-6106-4f3a-98d1-4a045c7bd4b4"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.needs_image}}",
              "value2": true
            }
          ]
        }
      },
      "id": "68086768-4973-4229-af68-c3714fd96893",
      "name": "Needs Image?",
      "type": "n8n-nodes-base.if",
      "position": [
        -1456,
        800
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "text": "={{$json.text}}",
        "additionalFields": {}
      },
      "id": "65c5442b-dffb-4cc7-a0c6-f31cbec4b2d7",
      "name": "Post Text Only",
      "type": "n8n-nodes-base.twitter",
      "position": [
        -1152,
        656
      ],
      "typeVersion": 2,
      "credentials": {
        "twitterOAuth2Api": {
          "id": "mnMMjvQvP9acww3Z",
          "name": "X account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "generate",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-pro-image-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-pro-image-preview (Nano Banana Pro)"
        },
        "prompt": "={{$json.image_prompt}}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -1200,
        960
      ],
      "id": "5e076ce5-81d5-420a-a5be-ee944118936a",
      "name": "Generate an image",
      "credentials": {
        "googlePalmApi": {
          "id": "MApsqVZfj70Mvodd",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "id": "download-logo-node",
      "name": "Download Logo",
      "type": "n8n-nodes-base.httpRequest",
      "position": [-950, 960],
      "parameters": {
        "url": "https://helm-analytics.com/logo.png",
        "method": "GET",
        "responseFormat": "file",
        "dataPropertyName": "logo"
      },
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "edit",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-pro-image-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-pro-image-preview (Nano Banana Pro)"
        },
        "prompt": "Subtly edit this image to watermark the provided Helm Analytics logo securely into the bottom right corner. Ensure it fits naturally.",
        "options": {}
      },
      "id": "780bcb7a-be4f-4045-870b-000eb5ec31ce",
      "name": "Add Helm Logo",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "position": [
        -700,
        960
      ],
      "typeVersion": 1.1,
      "credentials": {
        "googlePalmApi": {
          "id": "MApsqVZfj70Mvodd",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{$json.text}}",
        "additionalFields": {},
        "attachments": "data"
      },
      "id": "22895ee2-7696-4534-9bd2-f9876cc7cf66",
      "name": "Post with Image",
      "type": "n8n-nodes-base.twitter",
      "position": [
        -500,
        960
      ],
      "typeVersion": 2,
      "credentials": {
        "twitterOAuth2Api": {
          "id": "mnMMjvQvP9acww3Z",
          "name": "X account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "6c2ddbad-4155-43cb-9b75-479c1b214649",
      "name": "Every 12 Hours (OSS)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -2736,
        1264
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "operation": "getAll"
      },
      "id": "56942648-8e1e-4881-b16b-c25a61f5d870",
      "name": "HackerNews 10",
      "type": "n8n-nodes-base.hackerNews",
      "position": [
        -2496,
        1264
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "return items.filter(i => {\n  const title = (i.json.title || '').toLowerCase();\n  return title.includes('open source') || title.includes('analytics');\n});"
      },
      "id": "cdde02f5-b187-4369-bcfe-5631b7dbdcd1",
      "name": "Filter OSS/Analytics",
      "type": "n8n-nodes-base.function",
      "position": [
        -2304,
        1264
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "limit"
      },
      "id": "54432a02-a2a1-4f88-a19a-7b0180ed1394",
      "name": "Limit OSS to 1",
      "type": "n8n-nodes-base.itemLists",
      "position": [
        -2096,
        1264
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "A trending Open Source article dropped on HackerNews:\nTitle: {{$json.title}}\nLink: {{$json.url}}\n\nWrite a 1-sentence quote-tweet as the Helm Analytics account. Be supportive of the OSS community, non-salesy. Include the link.\nDo not use quotes or markdown.",
        "batching": {}
      },
      "id": "04ac293d-89e8-4965-96dc-6709bbb9bb6d",
      "name": "Draft OSS Reply",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        -1904,
        1264
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "text": "={{$json.text}}",
        "additionalFields": {}
      },
      "id": "21f2fb0b-487c-4091-b517-98764a21bf19",
      "name": "Post OSS Reply",
      "type": "n8n-nodes-base.twitter",
      "position": [
        -1648,
        1264
      ],
      "typeVersion": 2,
      "credentials": {
        "twitterOAuth2Api": {
          "id": "mnMMjvQvP9acww3Z",
          "name": "X account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "topP": 0.8
        }
      },
      "id": "dd34794c-e19d-4d5b-a1d9-848282a51bca",
      "name": "Google Gemini (OSS)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        -1904,
        1456
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "MApsqVZfj70Mvodd",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "24ecc558-519e-49bd-aad4-85a4ccc016ed",
      "name": "Every 45 Mins (X Search)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -2736,
        1664
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "operation": "search",
        "searchText": "\"GA4 alternative\" OR \"website analytics\" OR \"bot traffic\" -filter:retweets",
        "limit": 5,
        "additionalFields": {}
      },
      "id": "e5006ed1-99a1-418b-a9d9-25669c977dc5",
      "name": "Search X for Pain Points",
      "type": "n8n-nodes-base.twitter",
      "position": [
        -2496,
        1664
      ],
      "typeVersion": 2,
      "credentials": {
        "twitterOAuth2Api": {
          "id": "mnMMjvQvP9acww3Z",
          "name": "X account"
        }
      }
    },
    {
      "parameters": {
        "operation": "limit"
      },
      "id": "56a4b371-61a8-437a-afd0-f3ab8ae7d12c",
      "name": "Limit Search to 1",
      "type": "n8n-nodes-base.itemLists",
      "position": [
        -2304,
        1664
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "A user on Twitter just posted this:\n\"{{$json.text}}\"\n\nWrite a helpful, empathetic, non-spammy reply from 'Helm Analytics' (A privacy-first, ultra-fast website intelligence platform built on ClickHouse. Features: Cookieless, Session Replay, Traffic Quality Score to block bots, Firewall). Answer their question or validate their pain point *first*, then subtly mention how a tool like Helm helps. Keep it under 280 characters.",
        "batching": {}
      },
      "id": "183dae28-f37d-496a-a3fa-59e5198685ce",
      "name": "Draft Contextual Reply",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        -2096,
        1664
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "text": "={{$json.text}}",
        "additionalFields": {}
      },
      "id": "c94f0c0a-3d70-496a-8c67-93cc326dd1eb",
      "name": "Reply to Tweet",
      "type": "n8n-nodes-base.twitter",
      "position": [
        -1856,
        1664
      ],
      "typeVersion": 2,
      "credentials": {
        "twitterOAuth2Api": {
          "id": "mnMMjvQvP9acww3Z",
          "name": "X account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "topP": 0.8
        }
      },
      "id": "1ec6023d-3c5c-4b48-a981-8c55b6524bc4",
      "name": "Google Gemini (Reply)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        -2096,
        1856
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "MApsqVZfj70Mvodd",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "Every 4.8 Hours": {
      "main": [
        [
          {
            "node": "Generate Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Posts",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate Posts": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON": {
      "main": [
        [
          {
            "node": "Loop Over Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Posts": {
      "main": [
        [],
        [
          {
            "node": "Wait (Spacing)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait (Spacing)": {
      "main": [
        [
          {
            "node": "Needs Image?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Image?": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post Text Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "Download Logo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Logo": {
      "main": [
        [
          {
            "node": "Add Helm Logo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Helm Logo": {
      "main": [
        [
          {
            "node": "Post with Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 12 Hours (OSS)": {
      "main": [
        [
          {
            "node": "HackerNews 10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HackerNews 10": {
      "main": [
        [
          {
            "node": "Filter OSS/Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter OSS/Analytics": {
      "main": [
        [
          {
            "node": "Limit OSS to 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit OSS to 1": {
      "main": [
        [
          {
            "node": "Draft OSS Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini (OSS)": {
      "ai_languageModel": [
        [
          {
            "node": "Draft OSS Reply",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Draft OSS Reply": {
      "main": [
        [
          {
            "node": "Post OSS Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 45 Mins (X Search)": {
      "main": [
        [
          {
            "node": "Search X for Pain Points",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search X for Pain Points": {
      "main": [
        [
          {
            "node": "Limit Search to 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit Search to 1": {
      "main": [
        [
          {
            "node": "Draft Contextual Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini (Reply)": {
      "ai_languageModel": [
        [
          {
            "node": "Draft Contextual Reply",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Draft Contextual Reply": {
      "main": [
        [
          {
            "node": "Reply to Tweet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
